<!-- About -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="three columns">
        <img class="u-max-full-width" src="{{ "/assets/img/" | prepend: site.baseurl }}caglar.png" alt="">
      </div>
      <div class="nine columns abstract">
        {{ site.description | markdownify}}
        <div>
          <a href="mailto:hfb@cin.ufpe.br">hfb@cin.ufpe.br</a>
        </div>
        <div>
          <a class="button" href="https://scholar.google.ca/citations?user=s14pJ00AAAAJ&hl=en">Google scholar</a>
        </div>
        <div>
          <a alt="Github" href="https://github.com/hfbassani"><i class="fa fa-github fa-2x"></i></a>  &nbsp
          <a alt="Linkedin" href="https://www.linkedin.com/in/hansbassani/"><i class="fa fa-linkedin fa-2x"></i></a>  
        </div>
      </div>
    </div>
  </div>
</div>
