<!-- Code -->
<div class="section">
  <div class="container">
    <h2 class="blue">Awards</h2>
    <p>&nbsp</p>
    {% for award in site.data.awards %}
    <div class="tooltip">
      <div class="row">
        <div class="three columns">
          <img class="u-max-full-width imgframe" src="{{ "/assets/img/awards/" | prepend: site.baseurl }}{{ award.img }}" alt="">
        </div>
        <div class="nine columns abstract">
          <div class="red">{{ award.year }} - {{ award.award }}</div>
          <div>{{ award.members | map: 'name' | join: ',  ' }}</div>
          <a target="_blank" href="{{award.url}}">{{award.url}}</a>
        </div>
      </div>
    </div>
    <hr>
    {% endfor %}
  </div>
</div>
