<!-- Footer -->
<div class="section bg-gray">
  <div class="container">
    <div class="container">
		<a target="_blank" alt="Google Scholar" href="https://scholar.google.ca/citations?user=s14pJ00AAAAJ&hl=en"><i class="ai ai-google-scholar-square ai-3x"></i></a> &nbsp
		<a target="_blank" alt="Github" href="https://github.com/hfbassani"><i class="fa fa-github fa-3x"></i></a> &nbsp
		<a target="_blank" alt="Linkedin" href="https://www.linkedin.com/in/hansbassani/"><i class="fa fa-linkedin fa-3x"></i></a> &nbsp
		<a target="_blank" alt="CVLattes" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4130977P7"><i class="ai ai-lattes-square ai-3x"></i></a>
    </div>
  </div>
</div>
