<!-- Recent News -->
<div class="section">
  <div class="container">
    <h2 class="orange">Interest Areas</h2>
      <div class="row abstract">
          <ul>
              <li> Language Understanding and NLP</li>
              <li> Reinforcement Learning. In particular Hierarchical Reinforcement Learning,
                  Imitation Learning and Model based  RL.</li>
              <li> Learning Representations: Causal, Efficient, Unsupervised, Compositional, Attention </li>
              <li> Memory: Episodic, Hierarchical </li>
              <li> Optimization: Meta-learning, Non-convex Optimization </li>
              <li> Cognitive Science </li>
          </ul>
      </div>
    <hr>
  </div>
</div>
