<!-- Code -->
<div class="section">
  <div class="container">
    <h2 class="blue">Selected Research Projects</h2>
    <p>&nbsp</p>
    {% for project in site.data.projects %}
    <div class="tooltip">
      <div class="row">
        <div class="three columns">
          <img class="u-max-full-width imgframe" src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.image }}" alt="">
        </div>
        <div class="nine columns abstract">
          <div class="orange">{{ project.title }} ({{ project.year }})</div>
          <div>{{ project.members | map: 'name' | join: ',  ' }}</div>
          <div class="blue">Funding: {{ project.funding | map: 'agency' | join: ' ' }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
    <hr>
  </div>
</div>
