<!-- Code -->
<div class="section">
  <div class="container">
    <h2 class="orange">Code</h2>
    <div class="row">
      {% for code in site.data.code %}
      <div class="three columns">
        <img class="u-max-full-width" src="{{ "/assets/img/code/" | prepend: site.baseurl }}{{ code.image }}" alt="">
      </div>

      <div class="nine columns abstract">
        <div class="orange">{{ code.name }}</div>
        {{ code.description | markdownify }}
{% highlight python %}
{{ code.code }}
{% endhighlight %}
      </div>
      {% endfor %}
    </div>
    <hr>
  </div>
</div>
