<!-- Recent News -->
<div class="section">
  <div class="container">
    <h2 class="blue">Teaching</h2>
      <div class="row abstract">
          <p align="center">
				<p class="red">Postgraduate Courses:</p>
				<ul>
					<li><a target="_blank" href="https://www.cin.ufpe.br/~hfb/rl/index.html">Introduction to Reinforcement Learning</a></li>
					<li><a target="_blank" href="https://www.cin.ufpe.br/~hfb/roboticacognitiva/index.html">Cognitive Robotics</a></li>
					<li><a target="_blank" href="https://www.cin.ufpe.br/~hfb/cevol/index.html">Evolutionary Computation</a></li>
				</ul>

				<p class="red">Undergraduate Courses:</p>
				<ul>
					<li><a target="_blank" href="https://www.cin.ufpe.br/~hfb/am/index.html">Machine Learning</a></li>
					<li><a target="_blank" href="https://www.cin.ufpe.br/~hfb/robotica/index.html">Autonomous Mobile Robotics</a></li>
					<li><a target="_blank" href="https://www.cin.ufpe.br/~hfb/pln/index.html">Natural Language Processing</a></li>
					<li><a target="_blank" href="https://www.cin.ufpe.br/~hfb/ce/index.html">Introduction to Programming</a></li>
				</ul>
          </p>
      </div>
    <hr>
  </div>
</div>
