<!-- Work -->
<div class="section">
  <div class="container">
    <h2 class="blue">Work</h2>
    <div class="row" align="center">
        {% for work in site.data.work1 %}
            <div class="four columns">
              <a target="_blank" href="{{ work.url }}"><img class="img-responsive" src="{{ "/assets/img/work/" | prepend: site.baseurl }}{{ work.image }}" height=100 alt=""></a>
              <div class="red">{{ work.name }}</div>
              <div>{{ work.position }} ({{ work.time }})</div>
              </br>
            </div>
        {% endfor %}
    </div>
    <hr>
  </div>
</div>
