.imgframe {
  border-radius: 8px;
  border: solid 1px gray;
  padding:1px;
}

.button {
  border-radius: 4px;
  text-transform: none;
}

.button-primary {
  border-radius: 4px;
  text-transform: none;
}

.container {
  padding: 0 0;
}

.section {
  padding: 2rem 0 0rem;
  text-align: center;
}

.abstract {
  text-align: left;
}

.highlight {
  background-color: #CCCCCC;
}

.orange {
  color: #FF5C3B;
}

.blue {
  color: #2285D2;
}

.bg-orange {
  background-color: #FF5C3B;
}

.bg-blue {
  background-color: #4286f4;
}

.bg-gray {
  background-color: #F1F1FA;
}

p {
  margin-bottom: 0;
}

/* Tooltip container */
.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 700px;
  background-color: white;
  color: #000;
  text-align: left;
  padding: 6px;
  border: 1px dashed black;
  border-radius: 6px;
  font-size: small;
  left: 330px;
  top: 180px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
